<div class="footer">
    {{ if .Site.Data.social.links }}
    <div class="footer-social">
      {{ range .Site.Data.social.links }}
        <span class="social-icon social-icon-{{ .name | urlize }}">
          <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener">
            <img src="{{ .image | relURL }}" width="24" height="24" alt="{{ .name }}"/>
          </a>
        </span>
      {{ end }}
      <div style="float: right;">
        <span>&copy; {{ .Site.LastChange.Year }} {{ .Site.Title }} - <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
      </div>
    </div>
    </div>
    {{ end }}
  </div>